.container {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap to the next line */
    justify-content: center; /* Centers the boxes horizontally */
    gap: 15px; /* Adds space between the boxes */
    margin-top: 15px;
}

.box {
    width: 750px; /* Default width for desktop */
    height: auto;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.030);
}

.box:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    background: rgb(255, 255, 255, 0.010);
    border: 2px solid rgba(255, 255, 255, 0.45);
}

.combobox {
    width: 750px; /* Default width for desktop */
    height: auto;
    text-align: center;
    border-radius: 20px;
}

.minibox {
    width: auto;
    height: 425px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.030);
}

.minibox:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    background: rgb(255, 255, 255, 0.010);
    border: 2px solid rgba(255, 255, 255, 0.45);
}

.bigbox {
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.030);
    padding: 10px;
}

.bigbox:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    background: rgb(255, 255, 255, 0.010);
    border: 2px solid rgba(255, 255, 255, 0.45);
}

h2 {
    font-size: 30px;
    margin: 10px;
}

#com {
    font-size: 45px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.030);
    border-radius: 20px;
    max-width: 65%;
    margin: 0 auto;
}

p {
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.Raid {
    width: 640px;
    height: 360px;
}

@media (max-width: 768px) {
    .box {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height automatically */
    }

    .combobox {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height automatically */
    }
}